---
title: "Term Of Use"
description: "The LESS branch of the advanced starter kit. Provides a LESS processor to provide extra tools and functionality when writing your CSS."
permalink: "term_of_use/"
---

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/term_of_use.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<div id="banner-1402">
  <div class="cs-container">
    <span class="cs-int-title">Software Development Terms and Conditions </span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="" class="cs-link cs-active">Term Of Use</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg" />
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg" />
    <img
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg"
      alt="people laughing"
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>
<section id="content-page-714">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">PRIVACY POLICY</h1>
      <p>
        This Privacy Policy is applicable to Pulse Point Software and sets out our policy on the gathering and use of information on this site and our other
        sites. The Company is committed to providing safe websites for visitors of all ages and has implemented this Privacy Policy to demonstrate our firm
        commitment to your privacy.
      </p>
      <p>
        The Company complies with Canadian Federal and Provincial privacy laws and regulations including the Personal Information and Electronic Documents Act.
        There may be links from our Sites to other web sites; note that this Privacy Policy applies only to our Sites and not to web sites of other companies or
        organizations to which our Sites may be linked. You must check on any linked sites for the privacy policy that applies to that site and/or make any
        necessary inquiries in respect of that privacy policy with the operator of the linked site. These links to third-party websites are provided as a
        convenience and are for informational purposes only. The Company does not endorse and is not responsible for, these linked websites. Although you are
        not required to register to access our Sites, you may be asked to provide us with personal information when you visit certain sections of our Sites.
      </p>
      <p>
        Your use of our Sites signifies your acknowledgement and consent to our Privacy Policy. If you do not agree to this Privacy Policy, please do not
        continue to use our Sites. Your continued use of the Sites signifies your acceptance of these terms and any changes in effect at the time of use.
      </p>
      <h4>COLLECTION OF PERSONAL INFORMATION</h4>
      <p>
        Personal Information is information about you that identifies you as an individual, for example, your name, address, e-mail address, or telephone
        number. We collect information that you voluntarily provide to us through responses to surveys, search functions, questionnaires, feedback, contact
        forms and the like. On some of our Sites, we offer assessment tools that ask you to provide self-assessment information. We may also ask you to provide
        additional information such as your e-mail address if you want to obtain additional services, information, participate in a contest or to resolve
        complaints or concerns.
      </p>
      <h4>HOW DOES COMPANY USE INFORMATION GATHERED ABOUT ONLINE VISITORS?</h4>
      <p>
        Before forwarding us any personal information, please be advised that any information gathered on our Sites may be used in the aggregate for research
        and development relating to our Sites and/or for future site development and, if you ask us to, to send you promotional materials. In particular, we may
        use information gathered about you for the following purposes: to monitor interest in our range of products and to assist us to tailor the content of
        our Sites to your needs by collecting information about your preferences through tracking of patterns page views on our Sites; to create a profile
        relating to you in order to show you the content that might be of interest to you and to display the content according to your preferences; and, in
        circumstances where you have indicated that you wish to receive additional information, to send you information about us and promotional material about
        our products together with details of any offers we may have available from time to time.
      </p>
      <h4>PROMOTIONAL AND INFORMATIONAL OFFERS</h4>
      <p>
        With the permission of an online visitor, information submitted at the time of registration or submission may be used for marketing and promotional
        purposes by the Company provided notice of this fact is made available online. If a visitor objects to such use for any reason, he/she may prevent that
        use, either by e-mail request or by modifying the registration information provided. The Company uses reasonable efforts to maintain visitors’
        information in a secure environment. If you have submitted personal information and want to change it or opt-out, please contact us as described below.
      </p>
      <h4>DISCLOSURE OF INFORMATION</h4>
      <p>
        The Company will not disclose personal information that you provide on its Sites to any third parties other than to a Company agent except: i) in
        accordance with the terms of this Privacy Policy, or ii) to comply with legal requirements such as a law, regulation, warrant, subpoena or court order,
        and/or iii) if you are reporting an adverse event/side effect, in which case the Company may be required to disclose such information to bodies such as,
        but not limited to, Canadian and/or international regulatory authorities. Please note that any of these disclosures may involve the storage or
        processing of personal information outside of Canada and may, therefore, be subject to different privacy laws than those applicable in Canada, including
        laws that require the disclosure of personal information to governmental authorities under circumstances that are different than those that apply in
        Canada. COOKIES The Company, in common with many web site operators, may use standard technology called “cookies” on its Sites. Cookies are small data
        files that are downloaded onto your computer when you visit a particular web site. You can disable cookies by turning them off in your browser; however,
        some areas of the Sites may not function properly if you do so.
      </p>
      <h4>ADDITIONAL TERMS FOR CERTAIN WEBSITES</h4>
      <p>
        The following additional information applies to our Sites that require registration. Generally, you are not required to provide personal information as
        a condition of using our Sites, except as may be necessary to provide you with a product or service that you have requested.
      </p>
      <h4>PROTECTION OF INFORMATION</h4>
      <p>
        Our Commitment to Security: We have put in place physical, electronic, and managerial procedures to safeguard and help prevent unauthorized access,
        maintain data security, and correctly use the information we collect online. The Company applies security safeguards appropriate to the sensitivity of
        the information, such as retaining information in secure facilities and making personal information accessible only to authorized employees on a
        need-to-know basis. Storage of Information: Personal information you share with us is stored on our database servers at Company data centers (in
        whatever country they may be located), or hosted by third parties who have entered into agreements with us that require them to observe our Privacy
        Policy.
      </p>
      <h4>COPYING INFORMATION FROM OUR WEBSITES</h4>
      <p>
        The information on the Pulse Point Software websites may be used or copied provided that it is used or copied accurately, or is used in its entirety
        and/or that the source of the information is clearly identified. Pulse Point Software is not responsible for the way in which the information may be
        used or copied. Pulse Point Software reserves the right to change, delete or add information at any time.
      </p>
      <h4>POLICY CHANGE</h4>
      <p>
        If we alter our Privacy Policy, any changes will be posted on this page of our Site so that you are always informed of the information we collect about
        you, how we use it and the circumstances under which we may disclose it.
      </p>
      <h4>ACCEPTANCE OF OUR PRIVACY POLICY</h4>
      <p>
        By using this Site or any other Pulse Point Software or interactive banner ads, you signify your acceptance of our Privacy Policy, and you adhere to the
        terms and conditions posted on the Site. By submitting your information, you agree that it will be governed by our Privacy Policy.
      </p>
    </div>
    <div class="cs-image-group">
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson7.jpg" />
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson7.jpg" />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson7.jpg"
          alt="person"
          width="570"
          height="680"
          aria-hidden="true"
        />
      </picture>

      <!--Flower Graphic-->
      <img
        class="cs-flower"
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fbig-abstract-flower.svg"
        alt="flower graphic"
        width="362"
        height="350"
        aria-hidden="true"
      />

      <!--Spidey Sense Graphic-->
      <img
        class="cs-sense"
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fspider-sense.svg"
        alt="spidey sense graphic"
        width="80"
        height="89"
        aria-hidden="true"
      />
    </div>
  </div>
  <!--Waves Graphic-->
  <picture class="cs-background">
    <img
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Flarge-waves.svg"
      alt="waves"
      decoding="async"
      aria-hidden="true"
      width="625"
      height="952"
    />
  </picture>
</section>

{% endblock %}
