---
title: "Term Of Use"
description: "The LESS branch of the advanced starter kit. Provides a LESS processor to provide extra tools and functionality when writing your CSS."
permalink: "term_of_use/"
---

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/term_of_use.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<div id="banner-1402">
  <div class="cs-container">
    <span class="cs-int-title">Software Development Terms and Conditions </span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="" class="cs-link cs-active">Term Of Use</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg" />
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg" />
    <img
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/people-laughing.jpg"
      alt="people laughing"
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>
<section id="content-page-714">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">TERM OF USE</h1>
      <p>
        These Software Development Terms and Conditions (these “Terms”) form part of a Statement of Work entered into between Pulse Point Software Inc., a
        Calgary Corporation (“Developer”) and the customer set out in the Statement of Work (“Customer”, and together with Developer, the “Parties”, and each, a
        “Party”).
      </p>
      <p>
        WHEREAS, Developer is engaged in the business of providing software development and related services and work product; WHEREAS, Customer desires to
        retain Developer to provide the software development and related services described herein and from time to time in separately executed statements of
        work to which these Terms are attached; and WHEREAS, Developer is willing to provide such services to Customer, on the terms and conditions set forth in
        these Terms; NOW THEREFORE, in consideration of the mutual covenants, terms and conditions set out herein, and for other good and valuable
        consideration, the receipt and sufficiency of which is hereby acknowledged, the parties agree as follows:
      </p>

      <p>I. DEFINITIONS</p>

      <p>Capitalized terms used in these Terms have the meanings set forth or referred to in this Article I.</p>

      <p>
        “Action” means any claim, action, cause of action, demand, lawsuit, arbitration, inquiry, audit, notice of violation, proceeding, litigation, citation,
        summons, subpoena or investigation of any nature, civil, criminal, administrative, investigative, regulatory or other, whether at law, in equity or
        otherwise.
      </p>

      <p>
        “Affiliate” of a Person means any other Person that directly or indirectly, through one or more intermediaries, Controls, is Controlled by, or is under
        common Control with, such Person.
      </p>
      <p>
        “Agreement” means these Terms, any Statements of Work, and all schedules, exhibits, attachments or appendices specifically referenced herein or therein.
      </p>

      <p>
        “Business Day” means any day except Saturday, Sunday or any day on which commercial banks located in Saskatoon are authorized or required to be closed
        for business.
      </p>
      <p>
        “Confidential Information” means information in any form or medium (whether oral, written, electronic or other) that is considered confidential by a
        party, including, without limitation, trade secrets, technology, information pertaining to business operations and strategies, and information
        pertaining to customers, pricing, and marketing. Confidential Information shall not include information that: (a) is already known to the Receiving
        Party without restriction on use or disclosure prior to receipt of such information from the Disclosing Party; (b) is or becomes generally known by the
        public other than by breach of these Terms by, or other wrongful act of, the Receiving Party; (c) is developed by the Receiving Party independently of,
        and without reference to, any Confidential Information of the Disclosing Party; or (d) is received by the Receiving Party from a third party who is not
        under any obligation to the Disclosing Party to maintain the confidentiality of such information.
      </p>

      <p>
        “Control” (and the terms “Controlled by” and “under common Control with”) means the possession, directly or indirectly, of the power to direct or cause
        the direction of the management and policies of a Person, whether through the ownership of voting securities, by contract or otherwise.
      </p>

      <p>
        “Customer Materials” means any documents, data, know-how, methodologies, specifications, software and other materials provided to Developer by Customer
        in connection with these Terms.
      </p>

      <p>
        “Deliverables” means the Software, Documentation and other work product that Developer is required to deliver to Customer under these Terms as set forth
        in the Statement of Work.
      </p>

      <p>
        “Derivatives” means all works, inventions and other subject matter incorporating, based on or derived from any Deliverable, including all
        customizations, enhancements, improvements and other modifications thereof.
      </p>

      <p>
        “Developer Personnel” means all individuals involved in the performance of Services as employees or independent contractors of Developer or any
        subcontractor.
      </p>

      <p>“Disclosing Party” means a party that discloses Confidential Information under these Terms.</p>

      <p>
        “Documentation” means any and all manuals, instructions, specifications and other documents and materials listed in a Statement of Work that Developer
        provides or makes available to Customer in any medium and which describe the functionality, components, features or requirements of the Software,
        including the installation, configuration, integration, operation, use, support or maintenance thereof.
      </p>

      <p>“Effective Date” means the date first set forth above.</p>
      <p>“Fees” means the amounts Customer is to pay Developer, as set forth in the Statement of Work.</p>

      <p>
        “Governmental Authority” means any federal, provincial, territorial, local or foreign government or political subdivision thereof, or any agency or
        instrumentality of such government or political subdivision, or any self-regulated organization or other non- governmental regulatory authority or
        quasi-governmental authority (to the extent that the rules regulations or orders of such organization or authority have the force of Law), or any
        arbitrator, court or tribunal of competent jurisdiction.
      </p>

      <p>
        “Governmental Order” means any order, writ, judgment, injunction, decree, stipulation, award or determination entered by or with any Governmental
        Authority.
      </p>

      <p>
        “Intellectual Property Rights” means all industrial and other intellectual property rights comprising or relating to: (a) Patents; (b) Trademarks; (c)
        internet domain names, whether or not Trademarks, registered by any authorized private registrar or Governmental Authority, web addresses, web pages,
        website and uniform resource locators (URLs); (d) works of authorship, expressions, designs and industrial design registrations, whether or not
        copyrightable, including copyrights and copyrightable works, software and firmware, application programming interfaces, architecture, files, records,
        schematics, data, data files, and databases and other specifications and documentation; (e) Trade Secrets; and (f) all industrial and other intellectual
        property rights, and all rights, interests and protections that are associated with, equivalent or similar to, or required for the exercise of, any of
        the foregoing, however arising, in each case whether registered or unregistered and including all registrations and applications for, and renewals or
        extensions of, such rights or forms of protection under the Laws of any jurisdiction in any part of the world.
      </p>

      <p>
        “Law” means any statute, ordinance, regulation, rule, code, constitution, treaty, common law, Governmental Order or other requirement or rule of law of
        any Governmental Authority.
      </p>

      <p>
        “Losses” mean all losses, damages, liabilities, deficiencies, claims, actions, judgments, settlements, interest, awards, penalties, fines, costs or
        expenses of whatever kind, including legal fees, disbursements and charges, and the cost of enforcing any right to indemnification hereunder and the
        cost of pursuing any insurance providers.
      </p>
      <p>“Nonconformity” means any material failure of a Deliverable to conform to the Specifications and perform in accordance with the Documentation.</p>

      <p>
        “Operating Environment” means Customer’s computer systems on which the Software is intended to be installed and operate, as set forth in a Statement of
        Work.
      </p>

      <p>
        “Patents” means all patents (including all reissues, divisionals, provisionals, continuations and continuations-in-part, re-examinations, renewals,
        substitutions and extensions thereof), patent applications, and other patent rights and any other Governmental Authority-issued indicia of invention
        ownership (including inventor’s certificates and patent utility models).
      </p>

      <p>
        “Person” means an individual, corporation, partnership, unlimited liability company, Governmental Authority, unincorporated organization, trust,
        association or other entity.
      </p>

      <p>“Receiving Party” means a party that receives or acquires Confidential Information directly or indirectly under these Terms.</p>

      <p>
        “Representatives” means, with respect to a party, that party, its Affiliates, and their respective employees, officers, directors, consultants, agents,
        independent contractors, subcontractors and legal advisors.
      </p>

      <p>
        “Services” means the software development, consulting and other services to be provided by Developer under these Terms, as described in more detail in
        the Statement of Work.
      </p>

      <p>
        “Software” means the computer program(s) the Developer develops or provides to Customer (or its designee) under these Terms, as described in the
        Statement of Work.
      </p>

      <p>“Specifications” means the technical and functional specifications for any Software as set forth in the Statement of Work.</p>

      <p>“Statement of Work” means each Statement of Work or proposal entered into by the parties to which these Terms are attached and incorporated into.</p>

      <p>
        “Third-Party Materials” means materials and information, in any form or medium, including any software, documents, data, content, specifications,
        products, equipment or components of or relating to the Software that are not proprietary to Developer.
      </p>

      <p>
        “Trademarks” means all rights in and to Canadian and foreign trademarks, trade dress, brand names, logos, trade dress, corporate names and domain names,
        business names, and other similar designations of source, sponsorship, association or origin, together with the goodwill symbolized by any of the
        foregoing, in each case whether registered or unregistered and including all registrations and applications for, and renewals and extensions of, such
        rights and all similar or equivalent rights or forms of protection in any part of the world.
      </p>

      <p>II. SERVICES</p>

      <p>
        2.1 Engagement of Developer. Customer hereby engages Developer to provide the Services, and Developer hereby agrees to provide the Services to Customer,
        in accordance with the terms and conditions of these Terms and each Statement of Work.
      </p>

      <p>
        2.2 Contract Management. Each party shall, throughout the Term, maintain within its organization a contract manager to serve as such party’s primary
        point of contact for day- to-day communications, consultation and decision-making regarding the Services (each, a “Contract Manager”). Each such
        Contract Manager shall be responsible for providing all day-to-day consents and approvals on behalf of such party under these Terms. Each party shall
        ensure its Contract Manager has the requisite organizational authority, skill, experience and other qualifications to perform in such capacity. Any
        Contract Manager in respect of the Services will be set out in the Statement of Work relating to those Services.
      </p>

      <p>2.3 Subcontractors. Developer may from time to time in its discretion engage third parties to perform Services.</p>

      <p>III. STATEMENTS OF WORK</p>

      <p>
        3.1 Statements of Work. Developer shall provide Services and Deliverables pursuant to Statements of Work entered into as set forth herein. No Statement
        of Work shall be effective unless signed by duly authorized representatives of both parties. The term of each Statement of Work shall be as set forth
        therein or, if no term is specified, shall commence on the parties’ full execution thereof and terminate when the parties have fully performed their
        obligations thereunder. Each fully executed Statement of Work shall be attached as a schedule to, and by this reference incorporated in and made a part
        of, these Terms
      </p>

      <p>
        3.2 Changes to Statements of Work. If either party wishes to change the scope or performance of the Services, it shall submit details of the requested
        change to the other in writing. Promptly after, the parties shall negotiate and agree in writing on the terms of such change (a “Change Order”). Neither
        party shall be bound by any Change Order unless mutually agreed upon in writing in accordance with Section 15.10.
      </p>

      <p>IV. CUSTOMER’S OBLIGATIONS</p>

      <p>4 . 1 Customer Resources and Cooperation. Customer shall, in accordance with each Statement of Work set forth therein:</p>

      <p>(a) perform all obligations identified as Customer responsibilities in the Statement of Work;</p>

      <p>(b) provide the Customer Materials and all such other resources as may be specified in the Statement of Work;</p>

      <p>
        (c) provide Developer Personnel with such access to Customer’s premises and the Operating Environment as is necessary for Developer to perform its
        obligations on a timely basis as set forth in the Statement of Work;
      </p>

      <p>
        (d) ensure the Operating Environment is set up and in working order to allow Developer to perform the Services and deliver each Deliverable on or prior
        to the applicable due date set forth in the Statement of Work;
      </p>

      <p>
        (e) provide all consents, approvals, exception notices and other communications specified in the Statement of Work or as otherwise may be required under
        these Terms; and
      </p>

      <p>
        (f) provide all cooperation and assistance Developer reasonably requests to enable Developer to exercise its rights or perform its obligations under
        these Terms.
      </p>

      <p>
        4 . 2 Effect of Customer Failure or Delay. Developer is not responsible or liable for any late delivery or delay or failure of performance caused in
        whole or in part by Customer’s delay in performing, or failure to perform, any of its obligations under these Terms. In the event of any such delay or
        failure, Developer may, by written notice to Customer, extend all or any subsequent due dates for milestones as Developer deems reasonably necessary.
        The foregoing is in addition to, and not in lieu of, all other rights and remedies Developer may have for any such failure or delay by Customer.
      </p>

      <p>
        4 . 3 Non-Solicitation. During the Term of any outstanding Statement of Work and for a period of 12 months thereafter, Customer shall not, directly or
        indirectly, in any manner solicit or induce for employment any person who performed any work under such Statement of Work who is then in the employment
        of Developer.
      </p>

      <p>V. DELIVERY, TESTING AND ACCEPTANCE, AND SUPPORT</p>

      <p>5. 1 Delivery. Developer shall deliver to Customer each Deliverable on or prior to the due date therefor as set forth in the Statement of Work.</p>

      <p>5. 2 Testing and Acceptance. All acceptance testing of Deliverables shall be conducted as follows:</p>

      <p>
        (a) Following delivery of each Deliverable, Customer will have 30 days (the “Testing Period”) to conduct the tests for such Deliverable (the “Acceptance
        Tests”) to evaluate whether such Deliverable materially conforms to the Specifications and performs in accordance with the expectations as outlined in
        the Statement of Work. Developer has the right to observe or participate in all or any part of such Acceptance Tests.
      </p>

      <p>
        (b) Promptly upon the completion of the Acceptance Tests, Customer shall notify Developer in writing of its acceptance or, solely if the Acceptance
        Tests identify any Nonconformity, rejection of the Deliverable. Customer shall not unreasonably withhold its acceptance and shall include in any
        rejection notice a reasonably detailed description of the Acceptance Tests conducted, the results thereof and each identified Nonconformity. Each
        Deliverable will be deemed accepted by Customer upon the expiration of the Testing Period therefor if Customer has not delivered a notice accepting or
        rejecting the Deliverable prior to such expiration.
      </p>

      <p>
        (c) Following receipt of a rejection notice, Developer shall use commercially reasonable efforts to remedy all Nonconformities and re-deliver the
        Deliverable. Upon re-delivery, Customer shall have an additional Testing Period to conduct Acceptance Tests to determine whether each such Nonconformity
        has been remedied.
      </p>

      <p>
        (d) The parties shall repeat the process set forth in Section 5.2(a), Section 5.2(b) and Section 5.2(c) until Customer has accepted the Deliverable as
        set forth in Section 5.2(b), provided, however, if Developer fails more than three times to remedy a material Nonconformity, then the Fees will be
        reduced equitably to reflect the value of the Deliverable as received relative to the value of the Deliverable had it materially conformed to the
        Specifications and performed in accordance with the Documentation.
      </p>

      <p>
        This Section 5.2 sets forth Developer’s sole obligations and Customer’s exclusive remedies for any failure of any Deliverable to conform to the
        Specifications or perform in accordance with the Documentation.
      </p>

      <p>
        5. 3 Support Services. Developer may offer support services in respect of the Deliverables to Customer from time to time. The corresponding fees for any
        such support services will be based upon the then-current published rates of Developer.
      </p>

      <p>VI. FEES AND EXPENSES: PAYMENT TERMS</p>

      <p>
        6.1 Fees. In consideration of the provision of the Services by the Developer and the rights granted to Customer under these Terms, Customer shall pay
        the Fees set forth in the Statement of Work.
      </p>

      <p>
        6.2 Reimbursable Expenses. Customer agrees to reimburse Developer for all reasonable travel and out-of-pocket expenses incurred in connection with the
        performance of the Services that have been approved in advance in writing by Customer (“Reimbursable Expenses”).
      </p>

      <p>
        6.3 Taxes. Fees are exclusive of all applicable Taxes. Customer shall be responsible for all sales, use and excise taxes, and any other similar taxes,
        duties and charges of any kind imposed by any federal, provincial or local governmental entity on any amounts payable by Customer.
      </p>

      <p>
        6.4 Payment. Customer shall pay all Fees and Reimbursable Expenses on or prior to the due date therefor as set forth in the Statement of Work within
        thirty (30) days after the date of the invoice therefor. Customer shall make all payments hereunder in Canadian dollars, to the address or account
        specified in the Statement of Work or such other address or account as is specified by Developer in writing from time to time.
      </p>

      <p>
        6.5 Late Payment. If Customer fails to make any payment when due then, in addition to all other remedies that may be available, Developer may charge
        interest on the past due amount at the lower of the rate of 18% per annum compounded monthly and the highest rate permitted under applicable Law and if
        such failure continues for fifteen (15) days following written notice thereof, Developer may suspend performance of the Services until all past due
        amounts and interest thereon have been paid, without incurring any obligation or liability to Customer or any other Person by reason of such suspension.
      </p>

      <p>
        6.6 No Deduction or Set-Off. Customer shall pay all amounts due under these Terms without set-off, deduction, recoupment or withholding of any kind for
        amounts owed or payable by Developer whether under these Terms, applicable Law or otherwise and whether relating to Developer’s breach, bankruptcy or
        otherwise.
      </p>

      <p>VII. INTELLECTUAL PROPERTY RIGHTS</p>

      <p>
        7.1 Customer Ownership of Deliverables. Except as set forth in Section 7.3, the ownership of all Intellectual Property Rights in any Deliverables will
        be governed by either Section 7.1(a) or Section 7.1(b) below, depending upon whether Section 7.1(a) or Section 7.1(b) is selected to govern in the
        Statement of Work in respect of those Deliverables.
      </p>

      <p>
        (a) Customer is and will be the sole and exclusive owner of all right, title and interest in and to all Deliverables, including all Intellectual
        Property Rights therein; or
      </p>
      <p>
        (b) Developer is and will be the sole and exclusive owner of all right, title and interest in and to all Deliverables, including all Intellectual
        Property Rights therein, and Customer will be granted a non-exclusive, personal license to use the Deliverables solely in the business and/or operations
        of Customer.
      </p>
      <p>Notwithstanding Section 7.1(b):</p>
      <p>(c) Customer and Developer may enter into a separate licensing agreement to govern Customer’s use of the Deliverables; and</p>
      <p>(d) if such an agreement is entered, the terms of that licensing agreement will supersede the terms of this Section 7.1.</p>

      <p>
        7.2 Customer Materials. As between the parties, Customer and its licensors are, and shall remain, the sole and exclusive owner of all right, title and
        interest in and to the Customer Materials, including all Intellectual Property Rights therein. Developer shall have no right or licence to use any
        Customer Materials except solely during the Term of the Agreement to the extent necessary to provide the Services to Customer. All other rights in and
        to the Customer Materials are expressly reserved by Customer.
      </p>

      <p>
        7.3 Third-Party Materials. Third-Party Materials and all Intellectual Property Rights therein, is and will remain with the respective owners thereof,
        subject to any express licences or sublicenses granted to Customer pursuant to or in accordance with this Agreement.
      </p>

      <p>7.4 Use of Deliverables . Subject to this Article VII, Customer acknowledges and agrees that:</p>

      <p>
        (a) all Deliverables may be utilized by Developer on a perpetual, non-exclusive, royalty free basis and, for the avoidance of doubt, except as expressly
        provided for to the contrary in this Agreement, use of Deliverables by Developer will not give Developer rights of ownership in or to the Deliverables;
        and
      </p>

      <p>
        (b) Developer is released from any claim of Intellectual Property Rights infringement that may arise from Developer’s current or future use of the
        Deliverables .
      </p>

      <p>VIII. LICENSES</p>

      <p>
        8.1 Customer Materials Licence. Customer hereby grants to Developer a fully paid-up and royalty-free, non-exclusive right and licence to use, reproduce,
        perform, display, distribute, modify and create derivative works and improvements of the Customer Materials solely to develop the Deliverables and
        otherwise as necessary to perform the Services for the benefit of Customer and for Developer’s general development and commercialization of the software
        products. The term of such licence will commence upon Customer’s first delivery of Customer Materials to Developer and continue in effect until the
        later termination or expiration of this Agreement.
      </p>

      <p>IX. CONFIDENTIAL INFORMATION</p>

      <p>9.1 Receiving Party Obligations. The Receiving Party agrees:</p>

      <p>
        (a) not to disclose or otherwise make available Confidential Information of the Disclosing Party to any third party without the prior written consent of
        the Disclosing Party; provided, however, that the Receiving Party may disclose the Confidential Information of the Disclosing Party to its
        Representatives who have a “need to know”, who have been apprised of this restriction and who are themselves bound by nondisclosure obligations at least
        as restrictive as those set forth in this Article IX.
      </p>

      <p>
        (b) to use the Confidential Information of the Disclosing Party only for the purposes of performing its obligations under the Agreement or, in the case
        of Customer, to make use of the Services and Deliverables; and
      </p>
      <p>
        (c) to promptly notify the Disclosing Party in the event it becomes aware of any loss or disclosure of any of the Confidential Information of Disclosing
        Party.
      </p>

      <p>
        9.2 Compelled Disclosures. If the Receiving Party becomes legally compelled to disclose any Confidential Information, the Receiving Party shall provide:
      </p>

      <p>
        (a) prompt written notice of such requirement so that the Disclosing Party may seek, at its sole cost and expense, a protective order or other remedy;
        and
      </p>

      <p>
        (b) reasonable assistance, at the Disclosing Party’s sole cost and expense, in opposing such disclosure or seeking a protective order or other
        limitations on disclosure.
      </p>

      <p>
        If, after providing such notice and assistance as required herein, the Receiving Party remains required by Law to disclose any Confidential Information,
        the Receiving Party shall disclose no more than that portion of the Confidential Information which, on the advice of the Receiving Party’s legal
        counsel, the Receiving Party is legally required to disclose.
      </p>

      <p>X. REPRESENTATIONS AND WARRANTIES</p>

      <p>10.1 Mutual Representations and Warranties. Each party represents and warrants to the other party that:</p>

      <p>
        (a) it has all required power and capacity to enter into these Terms, to grant the rights and licences granted under these Terms and to perform its
        obligations under these Terms;
      </p>

      <p>
        (b) the execution of these Terms by its Representative whose signature is set forth at the end hereof has been duly authorized by all necessary
        corporate action; and
      </p>

      <p>
        (c) when executed and delivered by each of the parties, these Terms will constitute the legal, valid and binding obligation of such party, enforceable
        against such party in accordance with its terms.
      </p>

      <p>10.2 Additional Developer Representations, Warranties and Covenants: Limited Remedy. Developer represents and warrants to Customer that it shall:</p>

      <p>
        (a) perform the Services using personnel of required skill, experience and qualifications and in a professional and workmanlike manner in accordance
        with generally recognized industry standards for similar services and shall devote adequate resources to meet its obligations under these Terms; and
      </p>

      <p>
        (b) all Software, as installed in the Operating Environment and used in accordance with the Documentation, will function in conformity in all material
        respects with the Specifications and the applicable Statement of Work, for a period of 60 days after delivery to Customer. If Developer breaches the
        foregoing warranty, Developer will, as its sole obligation and Customer’s sole remedy, remedy such breach in accordance with Section 5.2, including the
        time periods set forth there in, provided that Customer gives Developer written notice of such breach within 5 Business days following its discovery by
        Customer.
      </p>

      <p>
        10.3 Disclaimer of Warranties. EXCEPT FOR THE EXPRESS WARRANTIES IN THESE TERMS, (A) EACH PARTY HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS, EITHER
        EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE UNDER THIS AGREEMENT, AND (B) DEVELOPER SPECIFICALLY DISCLAIMS ALL EXPRESS OR IMPLIED CONDITIONS AND
        WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND ALL WARRANTIES ARISING FROM COURSE OF DEALING, USAGE OR TRADE PRACTICE.
        WITHOUT LIMITING THE FOREGOING, DEVELOPER MAKES NO WARRANTY OF ANY KIND THAT THE SOFTWARE OR DELIVERABLES, OR ANY PRODUCTS OR RESULTS OF THE USE
        THEREOF, WILL MEET CUSTOMER’S OR ANY OTHER PERSON’S REQUIREMENTS, OPERATE WITHOUT INTERRUPTION, ACHIEVE ANY INTENDED RESULT, BE COMPATIBLE OR WORK WITH
        ANY SOFTWARE, SYSTEM OR OTHER SERVICES EXCEPT IF AND TO THE EXTENT EXPRESSLY SET FORTH IN THE SPECIFICATIONS, OR BE SECURE, ACCURATE, COMPLETE, FREE OF
        HARMFUL CODE OR ERROR FREE. ALL THIRD-PARTY MATERIALS ARE PROVIDED “AS IS” AND ANY REPRESENTATION OR WARRANTY OF OR CONCERNING ANY THIRD-PARTY MATERIALS
        IS STRICTLY BETWEEN CUSTOMER AND THE THIRD-PARTY OWNER OR DISTRIBUTOR OF THE THIRD-PARTY MATERIALS.
      </p>

      <p>XI. INDEMNIFICATION</p>

      <p>
        11.1 Indemnification by Developer. Developer shall defend, indemnify and hold harmless Customer and their officers, directors, employees, agents,
        successors and permitted assigns (each, a “Customer Indemnitee”) from and against all Losses arising out of or resulting from bodily injury, death of
        any person or damage to real or tangible, personal property resulting from negligent or wilful acts of Developer or Developer Personnel.
      </p>

      <p>
        11.2 Indemnification by Customer. Customer shall defend, indemnify and hold harmless Developer and Developer’s Affiliates and their officers, directors,
        employees, agents, successors and permitted assigns (each, a “Developer Indemnitee”) from and against all Losses arising out of or resulting from:
      </p>

      <p>
        (a) bodily injury, death of any person or damage to real or tangible, personal property resulting from the negligent or wilful acts or omissions of
        Customer;
      </p>

      <p>(b) Customer Materials or Developer’s use thereof in accordance with these Terms;</p>

      <p>
        (c) Developer’s compliance with any specifications or directions provided by or on behalf of Customer to the extent prepared without any contribution by
        Developer; or
      </p>

      <p>(d) Customer’s material breach of any representation, warranty or obligation of Customer in these Terms.</p>

      <p>
        11.3 Indemnification Procedures. The party seeking indemnification hereunder shall promptly notify the indemnifying party in writing of any Action and
        cooperate with the indemnifying party at the indemnifying party’s sole cost and expense. The indemnifying party shall immediately take control of the
        defence and investigation of such Action and shall employ counsel of its choice to handle and defend the same, at the indemnifying party’s sole cost and
        expense. The indemnified party’s failure to perform any obligations under this Section 11.3 shall not relieve the indemnifying party of its obligations
        under this Section 11.3 except to the extent that the indemnifying party can demonstrate that it has been prejudiced as a result of such failure. The
        indemnified party may participate in and observe the proceedings at its own cost and expense.
      </p>

      <p>XII. LIMITATION OF LIABILITY</p>

      <p>
        12.1 EXCLUSION OF DAMAGES. IN NO EVENT WILL EITHER PARTY BE LIABLE TO THE OTHER OR TO ANY THIRD PARTY FOR ANY LOSS OF USE, REVENUE OR PROFIT OR LOSS OF
        DATA OR FOR ANY CONSEQUENTIAL, INCIDENTAL, INDIRECT, EXEMPLARY, SPECIAL OR PUNITIVE DAMAGES WHETHER ARISING OUT OF BREACH OF CONTRACT, TORT (INCLUDING
        NEGLIGENCE) OR OTHERWISE, REGARDLESS OF WHETHER SUCH DAMAGE WAS FORESEEABLE AND WHETHER OR NOT SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
        DAMAGES. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, IN NO EVENT WILL DEVELOPER BE LIABLE TO CUSTOMER FOR ANY DAMAGES WHICH RESULT FROM A FAILURE
        OR OMISSION BY CUSTOMER TO ADOPT PROCESSES AND SOFTWARE TO PREVENT VIRUSES OR OTHER MALICIOUS CODE, CYBERSECURITY AND DATA BREACH EVENTS, OR ANY OTHER
        EVENT WHICH MAY NEGATIVELY IMPACT CUSTOMER’S INFORMATION TECHNOLOGY INFRASTRUCTURE OR THE OPERATION OF THE DELIVERABLES.
      </p>

      <p>
        12.2 CAP ON MONETARY LIABILITY. IN NO EVENT WILL EITHER PARTY’S LIABILITY ARISING OUT OF OR RELATED TO THESE TERMS, WHETHER ARISING OUT OF OR RELATED TO
        BREACH OF CONTRACT, BREACH OF LEGISLATION (INCLUDING, WITHOUT LIMITATION, ANY DATA PRIVACY OR DATA SECURITY LEGISLATION), TORT CLAIM (INCLUDING
        NEGLIGENCE), FIDUCIARY CLAIM OR OTHERWISE, EXCEED THE AGGREGATE AMOUNTS PAID OR PAYABLE TO DEVELOPER PURSUANT TO THE APPLICABLE STATEMENT OF WORK
        PRECEDING THE EVENT GIVING RISE TO THE CLAIM.
      </p>

      <p>XIII. TERM AND TERMINATION</p>

      <p>
        13.1 Term. This Agreement shall commence as of the Effective Date and shall continue thereafter until the completion of the Services under all
        Statements of Work unless sooner terminated pursuant to this Article XIII (the “Term”).
      </p>

      <p>
        13.2 Termination by Developer. Developer may terminate these Terms, effective on written notice to Customer, if Customer fails to pay any amount when
        due hereunder, and such failure continues more than ten (10) days after Developer’s delivery of written notice thereof.
      </p>

      <p>13.3 Termination by Either Party. Either party may terminate these Terms, effective on written notice to other party, if such other party:</p>

      <p>
        (a) materially breaches these Terms, and such breach is incapable of cure, or with respect to a breach capable of cure, the Defaulting Party does not
        cure such breach within 30 days after receipt of written notice of such breach;
      </p>

      <p>(b) becomes insolvent or admits its inability to pay its debts generally as they become due;</p>

      <p>(c) is dissolved or liquidated or takes any corporate action for such purpose;</p>

      <p>(d) makes a general assignment for the benefit of creditors; or</p>

      <p>
        (e) has a receiver, trustee, custodian or similar agent appointed by order of any court of competent jurisdiction to take charge of or sell any material
        portion of its property or business.
      </p>

      <p>13.4 Effect of Expiration or Termination. Upon expiration or termination of these Terms:</p>
      <p>(a) Developer shall:</p>

      <p>
        (i) return to Customer all documents and tangible materials containing, reflecting, incorporating or based on the Customer Materials or Customer’s
        Confidential Information; and
      </p>

      <p>(ii) permanently erase the Customer Materials and Customer’s Confidential Information from its computer systems,</p>

      <p>
        except, in each case, to the extent Developer requires or will require such Customer Materials or Confidential Information to exercise any surviving
        rights under Section 8.1 or to perform its surviving obligations under these Terms.
      </p>

      <p>(b) Customer shall:</p>

      <p>
        (i) return to Developer all documents and tangible materials (and any copies) containing, reflecting, incorporating or based on Developer’s Confidential
        Information; and
      </p>

      <p>
        except, in each case, to the extent that such Confidential Information is included in the Software, Documentation or other Deliverables licensed to
        Customer pursuant to Section 8.1.
      </p>

      <p>
        (c) If either party terminates these Terms then, upon Customer’s payment of all Fees and Reimbursable Expenses for Deliverables created prior to the
        effective date of such termination, Customer is hereby granted a non-exclusive, non- transferable and non-assignable right and licence to use such
        Deliverables on the terms and conditions set forth in Article VIII, provided that such Deliverables are provided “as is” without warranty of any kind
        and Developer has no continuing obligations or liability to Customer or any other Person with respect thereto.
      </p>

      <p>(d) If Customer terminates these Terms pursuant to Section 13.3, Customer will be relieved of any obligation to pay any Fees hereunder.</p>

      <p>
        (e) If Developer terminates these Terms pursuant to Section 13.3, all Fees that would have become payable had the Agreement remained in effect until
        expiration of the Term will become immediately due and payable, and Customer shall pay such Fees, together with all previously-accrued but not yet paid
        Fees and Reimbursable Expenses, on receipt of Developer’s invoice therefor.
      </p>

      <p>
        13.5 Survival. The rights and obligations of the parties set forth in this ARTICLE XIII, and ARTICLE I, ARTICLE VII, ARTICLE IX, ARTICLE X, ARTICLE XI,
        ARTICLE XII, ARTICLE XV and Section 4.3, and any right or obligation of the parties in these Terms which, by its nature, should survive termination or
        expiration of these Terms, will survive any such termination or expiration of these Terms
      </p>

      <p>XIV. FORCE MAJEURE</p>

      <p>
        14.1 No Breach or Default. No party shall be liable or responsible to the other party, nor be deemed to have defaulted under or breached these Terms,
        for any failure or delay in fulfilling or performing any term of these Terms, when and to the extent such failure or delay is caused by or results from
        acts beyond the affected party’s reasonable control, including, without limitation:
      </p>

      <p>(a) acts of God;</p>

      <p>(b) flood, fire or explosion;</p>

      <p>(c) epidemics, pandemics;</p>

      <p>(d) war, invasion, riot or other civil unrest;</p>

      <p>(e) actions, embargoes or blockades in effect on or after the date of these Terms;</p>

      <p>(f) national or regional emergency; or</p>

      <p>(g) strikes, labour stoppages or slowdowns or other industrial disturbances;</p>
      <p>(each of the foregoing, a “Force Majeure Event”).</p>

      <p>
        14.2 Affected Party Obligations. A party whose performance is affected by a Force Majeure Event shall give notice to the other party, stating the period
        of time the occurrence is expected to continue and shall use diligent efforts to end the failure or delay and minimize the effects of such Force Majeure
        Event.
      </p>

      <p>
        14.3 Non-affected Party. During the Force Majeure Event, the non-affected party may similarly suspend its performance obligations until such time as the
        affected party resumes performance.
      </p>

      <p>
        14.4 Right to Terminate. The non-affected party may terminate any affected Statement of Work if such failure or delay continues for a period of ninety
        (90) days or more and, if the non-affected party is Customer, receive a refund of any amounts paid to the Developer in advance for the affected
        Services.
      </p>

      <p>XV. MISCELLANEOUS</p>

      <p>
        15. 1 Further Assurances. Each party shall, upon the reasonable request, and at the sole cost and expense, of the other party, execute such documents
        and perform such acts as may be necessary to give full effect to the terms of these Terms.
      </p>

      <p>
        15. 2 Relationship of the Parties. The relationship between the parties is that of independent contractors. Nothing contained in these Terms shall be
        construed as creating any agency, partnership, joint venture or other form of joint enterprise, employment or fiduciary relationship between the
        parties, and neither party shall have authority to contract for or bind the other party in any manner whatsoever.
      </p>

      <p>
        15. 3 Public Announcements. Neither party shall issue or release any announcement, statement, press release or other publicity or marketing materials
        relating to these Terms, or otherwise use the other party’s Trademarks, without the prior written consent of the other party, provided, however, that
        Developer may, without requiring Customer’s consent, include Customer’s name in its lists of Developer’s current or former customers of Developer in
        promotional and marketing materials.
      </p>

      <p>
        15. 4 Notices. All notices, requests, consents, claims, demands, waivers and other communications hereunder shall be in writing and shall be deemed to
        have been given (a) when delivered by hand (with written confirmation of receipt); (b) when received by the addressee if sent by a nationally recognized
        overnight courier (receipt requested); (c) on the date sent by e-mail (in either case, with confirmation of transmission) if sent during normal business
        hours of the recipient, and on the next Business Day if sent after normal business hours of the recipient or (d) on the day after the date mailed, by
        certified or registered mail, by the Canada Post Corporation, return receipt requested, postage prepaid. Such communications must be sent to the
        respective parties at the addresses or emails indicated in the particular Statement of Work (or at such other address for a party as shall be specified
        in a notice given in accordance with this Section).
      </p>

      <p>
        15. 5 Interpretation. For purposes of these Terms, (a) the words “include”, “includes” and “including” shall be deemed to be followed by the words
        “without limitation”; (b) the word “or” is not exclusive; and (c) the words “herein”, “hereof”, “hereby”, “hereto” and “hereunder” refer to these Terms
        as a whole. Unless the context otherwise requires, references herein: (x) to Sections, Schedules, Exhibits and Statements of Work refer to the Sections
        of, and Schedules, Exhibits and Statements of Work attached to these Terms; (y) to an agreement, instrument or other document means such agreement,
        instrument or other document as amended, supplemented and modified from time to time to the extent permitted by the provisions thereof and (z) to a
        statute means such statute as amended from time to time and includes any successor legislation thereto and any regulations promulgated thereunder. These
        Terms shall be construed without regard to any presumption or rule requiring construction or interpretation against the party drafting an instrument or
        causing any instrument to be drafted. The Schedules, Exhibits and Statements of Work referred to herein shall be construed with, and as an integral part
        of, these Terms to the same extent as if they were set forth verbatim herein.
      </p>

      <p>
        15. 6 Entire Agreement. These Terms, together with all Schedules, Exhibits and Statements of Work and any other documents incorporated herein by
        reference, constitutes the sole and entire agreement of the parties to these Terms with respect to the subject matter contained herein, and supersedes
        all prior and contemporaneous understandings and agreements, both written and oral, with respect to such subject matter. In the event of any conflict
        between the terms and provisions of these Terms and those of any Schedule, Exhibit or Statement of Work, the following order of precedence shall govern:
        (a) first, these Terms, exclusive of its Exhibits and Schedules; (b) second, the Statement of Work; and (c) third, any Exhibits and Schedules to these
        Terms.
      </p>

      <p>
        15. 7 Assignment. Customer shall not assign or otherwise transfer any of its rights, or delegate or otherwise transfer any of its obligations or
        performance, under these Terms, in each case whether voluntarily, involuntarily, by operation of law or otherwise, without Developer’s prior written
        consent. No delegation or other transfer will relieve Customer of any of its obligations or performance under these Terms. Any purported assignment,
        delegation or transfer in violation of this Section 15.7 is void. These Terms are binding upon and inures to the benefit of the Parties and their
        respective permitted successors and assigns.
      </p>

      <p>
        15. 8 No Third-Party Beneficiaries. These Terms are for the sole benefit of the Parties and their respective successors and permitted assigns and
        nothing herein, express or implied, is intended to or shall confer upon any other Person any legal or equitable right, benefit or remedy of any nature
        whatsoever, under or by reason of these Terms.
      </p>

      <p>15. 9 Headings. The headings in these Terms are for reference only and shall not affect the interpretation of these Terms.</p>

      <p>
        15. 10 Amendments and Modifications. These Terms may be amended, modified or supplemented, from time to time, by Developer upon reasonable notice to
        Customer (which may include notification of changes to these Terms as they are available and presented on Developer’s website). Any Statement of Work,
        may only be amended, modified or supplemented by agreement in writing signed by each party hereto.
      </p>

      <p>
        15. 11 Waiver. No waiver by any party of any of the provisions hereof shall be effective unless explicitly set forth in writing and signed by the party
        so waiving. Except as otherwise set forth in these Terms, no failure to exercise, or delay in exercising, any rights, remedy, power or privilege arising
        from these Terms shall operate or be construed as a waiver thereof; nor shall any single or partial exercise of any right, remedy, power or privilege
        hereunder preclude any other or further exercise thereof or the exercise of any other right, remedy, power or privilege.
      </p>

      <p>
        15. 12 Severability. If any term or provision of these Terms is invalid, illegal or unenforceable in any jurisdiction, such invalidity, illegality or
        unenforceability shall not affect any other term or provision of these Terms or invalidate or render unenforceable such term or provision in any other
        jurisdiction.
      </p>
      <p>
        15. 13 Governing Law. This Agreement and all related documents, and all matters arising out of or relating to these Terms or any Statement of Work,
        whether sounding in contract, tort or statute, shall be governed by and construed in accordance with the laws of the Province of Saskatchewan and the
        federal laws of Canada applicable therein, without giving effect to any choice or conflict of law provision or rule (whether of the Province of
        Saskatchewan or any other jurisdiction) that would cause the application of Laws of any jurisdiction other than those of the Province of Saskatchewan.
      </p>

      <p>
        15. 14 Choice of Forum. Any Action or proceeding of any kind whatsoever in any way arising out of, from or relating to these Terms, including all
        statements of work, exhibits, schedules, attachments and appendices attached to these Terms, the services provided hereunder, and all contemplated
        transactions, shall be instituted in the courts of the Province of Saskatchewan, and each Party irrevocably submits to the exclusive jurisdiction of
        such courts in any such Action or proceeding. Service of process, summons, notice or other document by mail to such Party’s address set forth herein
        shall be effective service of process for any suit, action, litigation or other proceeding brought in any such court. Each Party agrees that a final
        judgment in any such Action or proceeding is conclusive and may be enforced in other jurisdictions by suit on the judgment or in any other manner
        provided by law.
      </p>

      <p>
        15. 15 Equitable Relief. Each party acknowledges that a breach by a party of ARTICLE VI or ARTICLE IX may cause the non-breaching party irreparable
        damages, for which an award of damages would not be adequate compensation and agrees that, in the event of such breach or threatened breach, the
        non-breaching party will be entitled to seek equitable relief, including a restraining order, injunctive relief, specific performance and any other
        relief that may be available from any court, in addition to any other remedy to which the non-breaching party may be entitled at law or in equity. Such
        remedies shall not be deemed to be exclusive but shall be in addition to all other remedies available at law or in equity, subject to any express
        exclusions or limitations in these Terms to the contrary.
      </p>

      <p>
        15. 16 Dispute Resolution. Should a dispute arise regarding any invoice or any other matter in connection with these Terms and/or any Statement of Work,
        the Parties agree that they shall meet and negotiate in good faith to attempt to resolve the dispute. If the dispute cannot be resolved though good
        faith negotiations between the Parties within 5 days then either Party may provide the other with written notice of the need to appoint a mediator.
        Should the Parties fail to agree upon a mediator within 5 days after the notice or the parties fail to resolve the dispute by way of mediation then such
        dispute shall be finally resolved by binding arbitration pursuant to the provisions of The Arbitration Act, 1992 (Saskatchewan) (the “Act”), as from
        time to time in force or as amended. The arbitration shall be administrated by the Rules of the Court of Queen’s Bench and the Rules of the Court of
        Appeal for Saskatchewan, in accordance with Section 58 of the Act. The arbitration shall take place in Saskatoon, Saskatchewan before a single
        Arbitrator selected by agreement of the parties. Should the Parties fail to agree on an Arbitrator, the Arbitrator shall be appointed by a Court of
        competent jurisdiction pursuant to the Act. The costs of arbitration, including legal fees and disbursements, shall be awarded by the Arbitrator in the
        manner which the Arbitrator considers appropriate under the circumstances.
      </p>

      <p>
        15. 17 Counterparts; Electronic Transmission. Any Statement of Work may be executed in counterparts and such counterparts together shall constitute a
        single instrument. Delivery of an executed counterpart of any Statement of Work by electronic means, including, without limitation, by facsimile
        transmission or by electronic transmission of portable document format (“.pdf”) file or other electronic file, shall be equally effective as delivery of
        a manually executed counterpart. The parties hereto acknowledge and agree that in any legal proceedings between them respecting or in any way relating
        to these Terms or any Statement of Work, each waives the right to raise any defence based on the execution in counterparts or the delivery of executed
        counterparts by electronic means.
      </p>

      <p>
        15. 18 Electronic Signatures and Electronic Delivery. Each party agrees that the electronic signatures, whether digital or encrypted, of the parties
        included in any Statement of Work are intended to authenticate this writing and to have the same force and effect as manual signatures. Electronic
        signature means any electronic sound, symbol, or process attached to or logically associated with a record and executed and adopted by a party with the
        intent to sign such record, including facsimile or email electronic signatures. Delivery of an executed copy of any Statement of Work by facsimile or
        electronic transmission constitutes valid and effective delivery.
      </p>

      <p>15. 19 Language. The parties have required that these Terms and all documents and notices resulting from it be drawn up in English.</p>
    </div>

    <div class="cs-image-group">
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson7.jpg" />
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson7.jpg" />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson7.jpg"
          alt="person"
          width="570"
          height="680"
          aria-hidden="true"
        />
      </picture>

      <!--Flower Graphic-->
      <img
        class="cs-flower"
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fbig-abstract-flower.svg"
        alt="flower graphic"
        width="362"
        height="350"
        aria-hidden="true"
      />

      <!--Spidey Sense Graphic-->
      <img
        class="cs-sense"
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fspider-sense.svg"
        alt="spidey sense graphic"
        width="80"
        height="89"
        aria-hidden="true"
      />
    </div>
  </div>
  <!--Waves Graphic-->
  <picture class="cs-background">
    <img
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Flarge-waves.svg"
      alt="waves"
      decoding="async"
      aria-hidden="true"
      width="625"
      height="952"
    />
  </picture>
</section>

{% endblock %}
